In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("fifa.csv")

In [3]:
df

           Date   ARG  BRA   ESP   FRA  GER   ITA
0    1993-08-08   5.0  8.0  13.0  12.0  1.0   2.0
1    1993-09-23  12.0  1.0  14.0   7.0  5.0   2.0
2    1993-10-22   9.0  1.0   7.0  14.0  4.0   3.0
3    1993-11-19   9.0  4.0   7.0  15.0  3.0   1.0
4    1993-12-23   8.0  3.0   5.0  15.0  1.0   2.0
..          ...   ...  ...   ...   ...  ...   ...
281  2018-02-15   4.0  2.0   6.0   9.0  1.0  14.0
282  2018-03-15   4.0  2.0   6.0   9.0  1.0  14.0
283  2018-04-12   5.0  2.0   8.0   7.0  1.0  20.0
284  2018-05-17   5.0  2.0   8.0   7.0  1.0  20.0
285  2018-06-07   5.0  2.0  10.0   7.0  1.0  19.0

[286 rows x 7 columns]

In [4]:
df.columns

Index(['Date', 'ARG', 'BRA', 'ESP', 'FRA', 'GER', 'ITA'], dtype='object')

In [5]:
club = []
for i in range(1, len(df.columns)):
    club.append(df.columns[i])

In [6]:
club

['ARG', 'BRA', 'ESP', 'FRA', 'GER', 'ITA']

In [39]:
average = pd.DataFrame
average

pandas.core.frame.DataFrame

In [41]:
for i in club:
    average[f"{i}"] = 1
average

TypeError: 'type' object does not support item assignment

Empty DataFrame
Columns: [ARG, BRA, ESP, FRA, GER, ITA]
Index: []