In [20]:
import pandas as pd

In [10]:
map = pd.read_csv("prices.csv")

In [11]:
map

   Id   Size  HistoricalPrice  CurrentPrice
0   1   600f           100000        170000
1   2  1000f           200000        225000
2   3  1000f           126000        195000
3   4   850f           150000        205000
4   5   900f           155000        210000
5   6   550f            99000        180000

In [12]:
map.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               6 non-null      int64
 1   Size             6 non-null      object
 2   HistoricalPrice  6 non-null      int64
 3   CurrentPrice     6 non-null      int64
dtypes: int64(3), object(1)
memory usage: 320.0+ bytes

In [22]:
id = map.columns[0]

In [24]:
pd.DataFrame(map[id])

   Id
0   1
1   2
2   3
3   4
4   5
5   6